#spinner{
    width: 100%;
    height: 100vh;
    background: #ffffffc0;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 3;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}